# Default ignored files
/../../../:CustomerBehaivior/.idea/shelf/
/../../../:CustomerBehaivior/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:CustomerBehaivior/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:CustomerBehaivior/.idea/dataSources/
/../../../:CustomerBehaivior/.idea/dataSources.local.xml
